<div class="card card-custom">
  <!-- begin::Header -->
  <div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">{{ 'SETTLEMENT_TYPE.LABEL.PLURAL'|translate }}</span>
      <ng-container *ngrxLet="totalRecords$ as totalRecords">
        <span class="text-muted mt-1 fw-bold fs-7">
          {{ 'LABEL.ELEMENT_COUNT'|translate:{count: totalRecords} }}
        </span>
      </ng-container>
    </h3>
    <div class="card-toolbar"></div>
  </div>
  <!-- end::Header -->
  <!-- begin::Body -->
  <div class="card-body py-3">
    <!-- begin::Table container -->
    <ng-container *ngrxLet="settlementTypes$ as settlementTypes">
      <div class="table-responsive">
        <!-- begin::Table -->
        <table class="table table-hover align-middle gs-0 gy-3">
          <!-- begin::Table head -->
          <thead>
            <tr>
              <th class="p-0 w-70px"></th>
              <th class="p-0 min-w-150px"></th>
            </tr>
          </thead>
          <!-- end::Table head -->
          <!-- begin::Table body -->
          <tbody>
            <tr *ngFor="let settlementType of settlementTypes; let i=index; trackBy: trackById">
              <td class="fw-bold fs-6">
                <span class="badge badge-secondary" [ngbTooltip]="'SETTLEMENT_TYPE.FIELD.identifiant'|translate">
                  {{ settlementType.identifiant }}
                </span>
              </td>
              <td>
                <span class="text-dark fw-bolder text-hover-primary mb-1 fs-6" [ngbTooltip]="'SETTLEMENT_TYPE.FIELD.libelle'|translate">
                  {{ settlementType.libelle }}
                </span>
                <span class="text-muted fw-bold d-block fs-7" [ngbTooltip]="'SETTLEMENT_TYPE.FIELD.description'|translate">
                  {{ settlementType.description}}
                </span>
              </td>
            </tr>
          </tbody>
          <!-- end::Table body -->
        </table>
        <!-- end::Table -->
      </div>
    </ng-container>
    <!-- end::Table container -->
  </div>
  <!-- end::Body -->
</div>
