<!-- <div class="card mb-10">
  <div class="card-body d-flex align-items-center py-8"> -->
    <!-- begin::Icon -->
    <!-- <div class="d-flex h-80px w-80px flex-shrink-0 flex-center position-relative">
      <span class="svg-icon svg-icon-primary position-absolute opacity-15"
            [inlineSVG]="'./assets/media/icons/duotune/abstract/abs051.svg'"
            [setSVGAttributes]="{ class: 'h-80px w-80px' }"></span>
      <span [inlineSVG]="'./assets/media/icons/duotune/coding/cod009.svg'"
            class="svg-icon svg-icon-3x svg-icon-primary position-absolute"></span>
    </div> -->
    <!-- end::Icon  -->

    <!-- begin::Description  -->
    <!-- <div class="ms-6">
      <p class="list-unstyled text-gray-600 fw-bold fs-6 p-0 m-0">
        The layout builder is to assist your set and configure your preferred
        project layout specifications and preview it in real-time and export the
        HTML template with its includable partials of this demo. The downloaded
        version does not include the assets folder since the layout builder's
        main purpose is to help to generate the final HTML code without hassle.
        Layout builder changes don't affect pages with layout wrappers.
      </p>
    </div> -->
    <!-- end::Description  -->
  <!-- </div>
</div> -->

<!--begin::Card-->
<div class="card">
  <!--begin::Card header-->
  <div class="card-header border-0 pt-6">
    <!--begin::Card title-->
    <div class="card-title">

    </div>
    <!--begin::Card title-->
  </div>
  <!--end::Card header-->
  <!--begin::Card body-->
  <div class="card-body pt-0">
    <form class="form">
      <div class="row">
        <div class="col-md">
          <input class="form-control form-control-solid" type="text" placeholder="Nom complet" readonly>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-3 form-floating mb-3">
          <select id="inputCivilite" aria-label="Select example" class="form-select">
            <option>Monsieur</option>
          </select>
          <label for="inputCivilite" class="required">Civilité</label>
        </div>
        <div class="col-md-3 form-floating mb-3">
          <input id="inputNom" type="text" class="form-control" placeholder="Nom">
          <label for="inputNom" class="required">Nom du locataire</label>
        </div>
        <div class="col-md form-floating mb-3">
          <input id="inputPrenoms" type="text" class="form-control form-control-sm" placeholder="Prénoms">
          <label for="inputPrenoms" class="required">Prénoms du locataire</label>

        </div>

      </div>
      <div class="row">
        <div class="col-md form-floating mb-3">
          <input id="inputNomJeuneFille" type="text" class="form-control form-control-sm" placeholder="Nom de Jeune Fille">
          <label for="inputNomJeuneFille">Nom de Jeune Fille</label>
        </div>
        <div class="col-md form-floating mb-3">
          <select id="inputGenre" aria-label="Select example" class="form-select">
            <option>choisir le genre</option>
          </select>
          <label for="inputGenre" class="required">Genre</label>
        </div>
        <div class="col-md form-floating mb-3">
          <select id="inputSituationMatrimoniale" aria-label="Select example" class="form-select">
            <option>choisir le genre</option>
          </select>
          <label for="inputSituationMatrimoniale" class="required">Situation Matrimoniale</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 form-floating mb-3">
          <input id="dtDateNaissance"
                 type="date"
                 class="form-control form-control-sm"
                 placeholder="Date de naissance">
          <label for="dtDateNaissance">Date de naissance</label>

        </div>
        <div class="col-md-6 form-floating">
          <input type="text" class="form-control form-control-sm" id="iLieuNaissance">
          <label for="iLieuNaissance">Lieu de naissance</label>
        </div>
      </div>
      <div class="separator my-10"></div>
      <div class="row mb-3">
        <div class="col-md-4 form-floating">
          <input type="text" class="form-control form-control-sm" id="iVille" placeholder="Ville">
          <label for="iVille">Ville</label>
        </div>
        <div class="col-md-4 form-floating">
          <input type="text" class="form-control form-control-sm" id="iQuartier" placeholder="Quartier">
          <label for="iQuartier">Quartier</label>
        </div>
        <div class="col-md-4 form-floating">
          <input type="text" class="form-control form-control-sm" id="iAdressePostale" placeholder="Adresse Postale">
          <label for="iAdressePostale">Adresse Postale</label>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md form-floating">
          <input type="text" class="form-control form-control-sm" id="iSituationGeo" placeholder="Situation Géographique">
          <label for="iSituationGeo">Situation Géographique</label>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-4 form-floating">
          <input type="text" class="form-control form-control-sm" id="iEmail" placeholder="Email">
          <label for="iEmail">Email</label>
        </div>
        <div class="col-md-4 form-floating">
          <input type="text" class="form-control form-control-sm" id="iMobile" placeholder="Mobile">
          <label for="iMobile">Mobile</label>
        </div>
        <div class="col-md-4 form-floating">
          <input type="text" class="form-control form-control-sm" id="iMobile2" placeholder="Mobile 2">
          <label for="iMobile2">Mobile 2</label>
        </div>
      </div>
    </form>
  </div>
  <!--end::Card body-->
</div>
