<app-offfcanvas>
  <ng-container title>
    <ng-container *ngIf="expiryNotice$|ngrxPush as expiryNotice">
      {{ 'EXPIRY_NOTICE.LABEL.ITEM_DETAILS'|translate:{ reference: '#'+expiryNotice.identifiant} }}
      ({{ expiryNotice.periodeConcernee }})
    </ng-container>
  </ng-container>
  <ng-container *ngIf="expiryNotice$|ngrxPush as expiryNotice">

    <ul class="
        nav nav-stretch nav-line-tabs
        fw-bold
        border-transparent
        flex-nowrap
      " role="tablist">

      <li class="nav-item">
        <a class="nav-link cursor-pointer" [ngClass]="{ active: activeTab === 'overview' }"
          (click)="setActiveTab('overview')" role="tab">
          {{ 'LABEL.OVERVIEW'|translate }}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link cursor-pointer" [ngClass]="{ active: activeTab === 'rent-receipt' }"
          (click)="setActiveTab('rent-receipt')" role="tab">
          {{ 'EXPIRY_NOTICE.RELATIONSHIP.quittanceLoyers'|translate }}
        </a>
      </li>
    </ul>

    <div class="tab-content pt-4">

      <div class="tab-pane" [ngClass]="{ active: activeTab === 'overview' }">
        <div class="d-flex flex-row-fluid justify-content-between align-items-start flex-wrap mb-6">
          <div class="d-flex flex-column">
            <div class="fs-6 text-gray-500">{{ 'EXPIRY_NOTICE.FIELD.loyerRestant'|translate }}</div>
            <div class="fs-5 fw-bolder text-gray-800">{{ expiryNotice.loyerRestant|currency }}</div>
          </div>
          <div class="d-flex flex-column">
            <div class="fs-6 text-gray-500">{{ 'EXPIRY_NOTICE.FIELD.sommeDue'|translate }}</div>
            <div class="fs-5 fw-bolder text-gray-800">{{ expiryNotice.sommeDue|currency }}</div>
          </div>
          <div class="d-flex flex-column">
            <div class="fs-6 text-gray-500">{{ 'EXPIRY_NOTICE.FIELD.loyer'|translate }}</div>
            <div class="fs-5 fw-bolder text-gray-800">{{ expiryNotice.loyer|currency }}</div>
          </div>
        </div>

        <hr />

        <div class="table-responsive scroll-y">
          <table class="table table-row-bordered">
          <tbody>
            <tr class="fw-semibold fs-6">
              <td class="bg-light text-gray-600 mw-85px">{{ 'EXPIRY_NOTICE.RELATIONSHIP.statut'|translate }}</td>
              <td>
                <ng-container *ngIf="expiryNotice.statut as status">
                  <span [outerHTML]="status|status"></span>
                </ng-container>
              </td>
            </tr>
            <tr class="fw-semibold fs-6">
              <td class="bg-light text-gray-600 mw-85px">{{ 'EXPIRY_NOTICE.FIELD.identifiant'|translate }}</td>
              <td>{{ expiryNotice.identifiant }}</td>
            </tr>
            <tr class="fw-semibold fs-6">
              <td class="bg-light text-gray-600 mw-85px">{{ 'EXPIRY_NOTICE.FIELD.periodeConcernee'|translate }}</td>
              <td>{{ expiryNotice.periodeConcernee }}</td>
            </tr>
            <tr class="fw-semibold fs-6">
              <td class="bg-light text-gray-600 mw-85px">{{ 'EXPIRY_NOTICE.FIELD.dateEmission'|translate }}</td>
              <td>{{ expiryNotice.dateEmission|date }}</td>
            </tr>
            <tr class="fw-semibold fs-6">
              <td class="bg-light text-gray-600 mw-85px">{{ 'EXPIRY_NOTICE.FIELD.dateExigibilite'|translate }}</td>
              <td>{{ expiryNotice.dateExigibilite|date }}</td>
            </tr>
            <tr class="fw-semibold fs-6">
              <td class="bg-light text-gray-600 mw-85px">{{ 'EXPIRY_NOTICE.FIELD.chargeMensuelleContractuelles'|translate }}</td>
              <td>{{ expiryNotice.chargeMensuelleContractuelles|currency }}</td>
            </tr>
            <tr class="fw-semibold fs-6">
              <td class="bg-light text-gray-600 mw-85px">{{ 'EXPIRY_NOTICE.FIELD.observation'|translate }}</td>
              <td>{{ expiryNotice.observation }}</td>
            </tr>
            <tr class="fw-semibold fs-6">
              <td class="bg-light text-gray-600 mw-85px">{{ 'TENANT.LABEL.SINGLE'|translate }}</td>
              <td>
                <ng-container *ngIf="expiryNotice.contrat?.personne as person">
                  <span *ngIf="person.identifiant" class="badge badge-secondary me-1" [ngbTooltip]="'PERSON.FIELD.identifiant'|translate">
                    {{ person.identifiant }}
                  </span>
                  <span [ngbTooltip]="'PERSON.FIELD.nomComplet'|translate">
                    {{ person.nomComplet || (person.nom + ' ' + person.prenoms) }}
                  </span>
                </ng-container>
              </td>
            </tr>
            <tr class="fw-semibold fs-6">
              <td class="bg-light text-gray-600 mw-85px">{{ 'EXPIRY_NOTICE.RELATIONSHIP.contrat'|translate }}</td>
              <td>
                <ng-container *ngIf="expiryNotice.contrat as contract">
                  <span class="badge badge-primary me-1" [ngbTooltip]="'CONTRACT.FIELD.numeroExterneBail'|translate">
                    {{ contract.numeroExterneBail }}
                  </span>
                  <span [ngbTooltip]="'EXPIRY_NOTICE.FIELD.identifiant'|translate">
                    {{ contract.identifiant }}
                  </span>
                </ng-container>
              </td>
            </tr>
            <tr class="fw-semibold fs-6">
              <td class="bg-light text-gray-600 mw-50px">{{ 'HOUSING.LABEL.SINGLE'|translate }}</td>
              <td>
                <ng-container *ngIf="expiryNotice.contrat?.habitation as housing">
                  <span [ngbTooltip]="housing.description + ' [' + housing.localisation + ']'">
                    <span class="badge badge-info me-1">{{ housing.typeHabitation?.libelle }}</span>
                    {{ housing.identifiant }}
                  </span>
                </ng-container>
              </td>
            </tr>
          </tbody>
        </table>
        </div>


      </div>

      <div class="tab-pane" [ngClass]="{ active: activeTab === 'rent-receipt' }">
        <div *ngIf="expiryNotice.quittanceLoyers && expiryNotice.quittanceLoyers.length > 0"
          class="table-responsive vh-lg-75 vh-sm-60"
        >
          <table mat-table [dataSource]="expiryNotice.quittanceLoyers"
            class="table align-middle table-row-dashed table-striped table-hover fs-6 gy-1"
          >
            <ng-container matColumnDef="identifiant">
              <th mat-header-cell *matHeaderCellDef class="min-w-100px">{{ 'RENT_RECEIPT.FIELD.identifiant'|translate }}</th>
              <td mat-cell *matCellDef="let row">{{ row.identifiant }}</td>
            </ng-container>
            <ng-container matColumnDef="dateReglement">
              <th mat-header-cell *matHeaderCellDef class="min-w-100px">{{ 'RENT_RECEIPT.FIELD.dateReglement'|translate }}</th>
              <td mat-cell *matCellDef="let row">{{ row.dateReglement|date }}</td>
            </ng-container>
            <ng-container matColumnDef="montantRegle">
              <th mat-header-cell *matHeaderCellDef class="min-w-100px">{{ 'RENT_RECEIPT.FIELD.montantRegle'|translate }}</th>
              <td mat-cell *matCellDef="let row">{{ row.montantRegle|currency }}</td>
            </ng-container>
            <ng-container matColumnDef="typeReglement">
              <th mat-header-cell *matHeaderCellDef class="min-w-100px">{{ 'RENT_RECEIPT.RELATIONSHIP.typeReglement'|translate }}</th>
              <td mat-cell *matCellDef="let row">{{ row.typeReglement?.libelle }}</td>
            </ng-container>
            <ng-container matColumnDef="observation">
              <th mat-header-cell *matHeaderCellDef class="min-w-100px">{{ 'RENT_RECEIPT.FIELD.observation'|translate }}</th>
              <td mat-cell *matCellDef="let row">{{ row.observation }}</td>
            </ng-container>
          <tr
              mat-header-row *matHeaderRowDef="displayedPaymentColumns"
              class="text-start bg-light text-gray-600 fw-bold fs-7 text-uppercase"
            ></tr>
            <tr mat-row *matRowDef="let row; columns: displayedPaymentColumns;"></tr>
          </table>
        </div>
      </div>

    </div>
  </ng-container>
</app-offfcanvas>
