<div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
  <div class="card-header cursor-pointer">
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">Avis d'échéance</h3>
    </div>

    <a
      routerLink="/crafted/account/settings"
      class="btn btn-primary align-self-center"
    >
      Générer un avis d'écheance
    </a>
  </div>

  <div class="card-body p-9">
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr class="fw-bolder text-muted bg-light">
          <th>#</th>
          <th>NUMERO AVIS</th>
          <th>DATE EMISSION</th>
          <th>HABITATION</th>
          <th>LOYER</th>
          <th>LOYER RESTANT</th>
          <th>STATUT</th>
          <th class="text-end rounded-end"></th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let avisEcheance of avisEcheances$; let i=index; trackBy: trackByAvisEcheances">
          <td>{{ i+1 }}</td>
          <td>{{ avisEcheance.identifiant }}</td>
          <td>{{ avisEcheance.dateEmission|date }}</td>
          <td>{{ avisEcheance.contrat?.habitation?.description || '' }}</td>
          <td>{{ avisEcheance.loyer|currency }}</td>
          <td>{{ avisEcheance.loyerRestant|currency }}</td>
          <td [innerHTML]="avisEcheance.statut|statut"></td>
          <td class="text-end">
            <button
              type="button"
              class="btn btn-bg-light btn-color-success btn-active-color-warning btn-sm px-2 py-1 me-1"
              title="Encaisser"
              (click)="encaisser(avisEcheance.id)">
              <i class="bi bi-cash" style="font-size: 1.7em;"></i>
            </button>
            <button
              type="button"
              class="btn btn-bg-light btn-color-muted btn-active-color-primary btn-sm px-2 py-1"
              title="Imprimer">
              <i class="bi bi-printer" style="font-size: 1.7em;"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

