<div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
  <div class="card-header cursor-pointer">
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">Avis d'échéance</h3>
    </div>

    <a
      routerLink="/crafted/account/settings"
      class="btn btn-primary align-self-center"
    >
      Générer un avis d'écheance
    </a>
  </div>

  <div class="card-body p-9">

    <table class="table table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>NUMERO AVIS</th>
        <th>DATE EMISSION</th>
        <th>HABITATION</th>
        <th>LOYER</th>
        <th>LOYER RESTANT</th>
        <th>STATUT</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>CONTR202223325s</td>
        <td>20.10.2020</td>
        <td>Hangar</td>
        <td>20000</td>
        <td>20000</td>
        <td>Encaissement partiel</td>
        <td>
          <a class="btn btn-sm btn-primary" (click)="encaisser()">Encaisser</a> &nbsp;
          <a class="btn btn-sm btn-primary">Editer</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row gy-10 gx-xl-10">
  <div class="col-xl-6">

  </div>

  <div class="col-xl-6">

  </div>
</div>

<div class="row gy-10 gx-xl-10">
  <div class="col-xl-6">

  </div>

  <div class="col-xl-6">

  </div>
</div>
