<div class="card">
  <div class="card-header border-0 pt-4">
    <div class="card-title">
      <div class="d-flex align-items-center position-relative my-1">
        <span
          [inlineSVG]="'./assets/media/icons/duotune/general/gen021.svg'"
          class="svg-icon svg-icon-1 position-absolute ms-6"
        ></span>
        <input type="search" data-kt-customer-table-filter="search" class="form-control form-control-solid w-250px ps-15" [placeholder]="'LABEL.SEARCH'|translate" />
      </div>
    </div>
    <div class="card-toolbar">
      <div class="d-flex justify-content-end" data-kt-customer-table-toolbar="base">
        <a class="btn btn-sm btn-primary" routerLink="/tenants/create">
          <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr013.svg'" class="svg-icon svg-icon-2"></span>
          {{ 'LABEL.NEW'|translate }}
        </a>
      </div>
    </div>
  </div>
  <div class="card-body pt-0">
    <div class="table-responsive table-loading">
      <div class="table-loading-message" *ngIf="loading$|ngrxPush">
        <app-progress-spinner></app-progress-spinner>
      </div>
      <table mat-table [dataSource]="tenants$" [trackBy]="trackById"
        class="table align-middle table-row-bordered table-hover fs-6 gy-2"
      >
        <ng-container matColumnDef="identifiant">
          <th mat-header-cell *matHeaderCellDef class="min-w-100px">{{ 'PERSON.FIELD.identifiant'|translate }}</th>
          <td mat-cell *matCellDef="let row">{{ row.identifiant }}</td>
        </ng-container>

        <ng-container matColumnDef="nomComplet">
          <th mat-header-cell *matHeaderCellDef>{{ 'PERSON.FIELD.nomComplet'|translate }}</th>
          <td mat-cell *matCellDef="let row">{{ row.nomComplet }}</td>
        </ng-container>

        <ng-container matColumnDef="solde">
          <th mat-header-cell *matHeaderCellDef class="min-w-100px">{{ 'TENANT.FIELD.solde'|translate }}</th>
          <td mat-cell *matCellDef="let row">{{ row.solde|currency }}</td>
        </ng-container>

        <ng-container matColumnDef="typePersonne">
          <th mat-header-cell *matHeaderCellDef class="min-w-100px">{{ 'PERSON.RELATIONSHIP.typePersonne'|translate }}</th>
          <td mat-cell *matCellDef="let row">{{ row.typePersonne?.libelle }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="min-w-80px text-end">{{ 'LABEL.ACTIONS'|translate }}</th>
          <td mat-cell *matCellDef="let row" class="text-end">
            <a
              class="btn btn-icon btn-light-primary btn-sm me-1"
              routerLink="/tenants/{{ row.id }}/view"
              ngbTooltip="{{ 'LABEL.DETAILS'|translate }}"
            >
              <span
                [inlineSVG]="'./assets/media/icons/duotune/general/eye-fill.svg'"
                class="svg-icon svg-icon-2"
              ></span>
            </a>
            <a
              class="btn btn-icon btn-light-success btn-sm me-1"
              routerLink="/tenants/{{ row.id }}/edit"
              ngbTooltip="{{ 'LABEL.EDIT'|translate }}"
            >
              <span
                [inlineSVG]="'./assets/media/icons/duotune/general/gen055.svg'"
                class="svg-icon svg-icon-2"
              ></span>
            </a>
          </td>
        </ng-container>

        <tr
          mat-header-row *matHeaderRowDef="displayedColumns"
          class="text-start bg-light text-gray-600 fw-bold fs-7 text-uppercase"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <mat-paginator
      (page)="onPaginatorChange($event)"
      [pageSize]="pageSize" [pageSizeOptions]="pageSizes"
      [length]="(totalRecords$|ngrxPush)||0"
      [showFirstLastButtons]="true" [attr.aria-label]="'PAGINATOR.LABEL.ARIA'|translate"
    ></mat-paginator>

    <!-- <ng-container *ngrxLet="tenants$ as tenants">
      <div class="table-responsive table-loading">
        <div class="table-loading-message" *ngIf="loading$|ngrxPush">
          <app-progress-spinner></app-progress-spinner>
        </div>
        <table class="table table-hover align-middle table-row-dashed fs-6 gy-3">
          <thead>
          <tr class="text-start bg-light text-gray-500 fw-bold fs-7 text-uppercase gs-0">
            <th class="min-w-125px">{{ 'PERSON.FIELD.identifiant'|translate }}</th>
            <th class="min-w-125px">{{ 'PERSON.FIELD.nomComplet'|translate }}</th>
            <th class="min-w-125px">{{ 'TENANT.FIELD.solde'|translate }}</th>
            <th class="min-w-125px">{{ 'PERSON.RELATIONSHIP.typePersonne'|translate }}</th>
            <th class="text-end min-w-70px">{{ 'LABEL.ACTIONS'|translate }}</th>
          </tr>
          </thead>
          <tbody class="fw-semibold text-gray-700">
            <tr *ngFor="let tenant of tenants; let i=index; trackBy: trackById">
            <td>{{ tenant.identifiant}}</td>
            <td>{{ tenant.nomComplet }}</td>
            <td>{{ tenant.solde|currency }}</td>
            <td>{{ tenant.typePersonne?.libelle }}</td>
            <td class="text-end">
              <a
                class="btn btn-icon btn-light-primary btn-sm me-1"
                routerLink="/tenants/{{ tenant.id }}/view"
                ngbTooltip="{{ 'LABEL.DETAILS'|translate }}"
              >
                <span
                  [inlineSVG]="'./assets/media/icons/duotune/general/eye-fill.svg'"
                  class="svg-icon svg-icon-2"
                ></span>
              </a>
              <a
                class="btn btn-icon btn-light-success btn-sm me-1"
                routerLink="/tenants/{{ tenant.id }}/edit"
                ngbTooltip="{{ 'LABEL.EDIT'|translate }}"
              >
                <span
                  [inlineSVG]="'./assets/media/icons/duotune/general/gen055.svg'"
                  class="svg-icon svg-icon-2"
                ></span>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-between">
        <ngb-pagination
          [collectionSize]="(totalRecords$|ngrxPush)||0"
          [(page)]="page"
          [pageSize]="pageSize"
          [rotate]="true"
          [ellipses]="false"
          [boundaryLinks]="true"
          (pageChange)="refreshList()"
        >
        </ngb-pagination>
      </div>
    </ng-container> -->
  </div>
</div>
