<div class="card">
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
    <fieldset [disabled]="creating$|ngrxPush">
      <div class="card-body p-4">
        <div class="row g-2">
          <div class="col-lg-6">
            <div class="h-100 w-100 px-2 py-1 border rounded border-gray-300">
              <div class="row mb-4">
                <label class="col-lg-4 col-form-label required fw-bold fs-6" for="identifiant">
                  {{ 'HOUSING.FIELD.identifiant'|translate }}
                </label>
                <div class="col-lg-8 fv-row">
                  <input type="text" id="identifiant" formControlName="identifiant"
                    class="form-control form-control-solid" appFormPathFallback required
                  />
                  <app-display-form-path-error [pathControl]="form.get('identifiant')"></app-display-form-path-error>
                </div>
              </div>
              <div class="row mb-4">
                <label class="col-lg-4 col-form-label required fw-bold fs-6" for="typeHabitationId">
                  {{ 'HOUSING.RELATIONSHIP.typeHabitation'|translate }}
                </label>
                <div class="col-lg-8 fv-row">
                  <select id="typeHabitationId" formControlName="typeHabitationId"
                    class="form-select form-select-solid" required
                  >
                    <option [value]="''">{{ 'LABEL.SELECT_OPTION'|translate }}</option>
                    <ng-container *ngrxLet="housingTypes$ as housingTypes">
                      <option *ngFor="let housingType of housingTypes" [value]="housingType.id">
                        {{ housingType.libelle }}
                      </option>
                    </ng-container>
                  </select>
                  <app-display-form-path-error [pathControl]="form.get('typeHabitationId')"></app-display-form-path-error>
                </div>
              </div>
              <div class="row mb-4">
                <label class="col-lg-4 col-form-label required fw-bold fs-6" for="localisation">
                  {{ 'HOUSING.FIELD.localisation'|translate }}
                </label>
                <div class="col-lg-8 fv-row">
                  <input type="text" id="localisation" formControlName="localisation"
                    class="form-control form-control-solid" appFormPathFallback required
                  />
                  <app-display-form-path-error [pathControl]="form.get('localisation')"></app-display-form-path-error>
                </div>
              </div>
              <div class="row mb-4">
                <label class="col-lg-4 col-form-label fw-bold fs-6" for="superficie">
                  {{ 'HOUSING.FIELD.superficie'|translate }}
                </label>
                <div class="col-lg-8 fv-row">
                  <input type="number" id="superficie" formControlName="superficie"
                    class="form-control form-control-solid"
                  />
                  <app-display-form-path-error [pathControl]="form.get('superficie')"></app-display-form-path-error>
                </div>
              </div>
              <div class="row mb-4">
                <label class="col-lg-4 col-form-label fw-bold fs-6" for="longitude">
                  {{ 'HOUSING.FIELD.longitude'|translate }}
                </label>
                <div class="col-lg-8 fv-row">
                  <input type="number" step="0.001" id="longitude" formControlName="longitude"
                    class="form-control form-control-solid"
                  />
                  <app-display-form-path-error [pathControl]="form.get('longitude')"></app-display-form-path-error>
                </div>
              </div>
              <div class="row mb-4">
                <label class="col-lg-4 col-form-label fw-bold fs-6" for="latitude">
                  {{ 'HOUSING.FIELD.latitude'|translate }}
                </label>
                <div class="col-lg-8 fv-row">
                  <input type="number" step="0.001" id="latitude" formControlName="latitude"
                    class="form-control form-control-solid"
                  />
                  <app-display-form-path-error [pathControl]="form.get('latitude')"></app-display-form-path-error>
                </div>
              </div>
              <div class="row mb-4">
                <label class="col-lg-4 col-form-label fw-bold fs-6" for="description">
                  {{ 'HOUSING.FIELD.description'|translate }}
                </label>
                <div class="col-lg-8 fv-row">
                  <textarea id="description" formControlName="description"
                    class="form-control form-control-solid no-resize" rows="3"
                  ></textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="h-100 w-100 px-2 py-1 border rounded border-blue-200 position-relative">
              <div
                class="position-absolute position-absolute top-0 start-50 translate-middle-50 opacity-75"
                style="z-index: 1000;"
              >
                <div class="input-group">
                  <div class="form-floating">
                    <input type="text" id="latitude" class="form-control form-control-sm"
                      formControlName="latitude"
                      [placeholder]="'HOUSING.FIELD.latitude'|translate"
                    />
                    <label for="latitude">{{ 'HOUSING.FIELD.latitude'|translate }}</label>
                  </div>
                  <span class="input-group-text"><i class="bi bi-geo"></i></span>
                  <div class="form-floating">
                    <input type="text" id="longitude" class="form-control form-control-sm"
                      formControlName="longitude"
                      [placeholder]="'HOUSING.FIELD.longitude'|translate"
                    />
                    <label for="longitude">{{ 'HOUSING.FIELD.longitude'|translate }}</label>
                  </div>
                </div>
              </div>
              <ng-container *ngIf="mapCoordinatesLoaded; else elseBlockMapCoordinates">
                <div class="h-100"
                    leaflet
                    [leafletOptions]="mapOptions"
                  >
                </div>
              </ng-container>
              <ng-template #elseBlockMapCoordinates>
                <div class="d-flex justify-content-center align-items-center h-100 fw-bold fs-6 text-gray-600">
                  <app-progress-spinner
                    role="status" aria-hidden="true"
                    [message]="'MESSAGE.WAITING_FOR_USER_LOCATION'|translate"
                  ></app-progress-spinner>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-end py-2 px-4">
        <a
          class="btn btn-light btn-active-light-primary border border-gray-500 me-2"
          routerLink="/housings"
        >
          <span
            [inlineSVG]="'./assets/media/icons/duotune/arrows/arr014.svg'"
            class="svg-icon svg-icon-2"
          ></span>
          {{ 'LABEL.CANCEL'|translate }}
        </a>
        <button class="btn btn-primary d-flex align-items-center flex-nowrap" type="submit" [disabled]="!form.valid">
          <span
            *ngIf="!(creating$|ngrxPush)"
            [inlineSVG]="'./assets/media/icons/duotune/arrows/save-fill.svg'"
            class="svg-icon svg-icon-2"
          ></span>
          <app-progress-spinner *ngIf="creating$|ngrxPush"  role="status" aria-hidden="true" [displayMessage]="false"></app-progress-spinner>
          {{ 'LABEL.SAVE'|translate }}
        </button>
      </div>
    </fieldset>
  </form>
</div>
