@import "helpers/borders";

.translate-middle {
  &-80 {
    transform: translate(-80%, -80%) !important;
  }
  &-90 {
    transform: translate(-90%, -90%) !important;
  }
  &-100 {
    transform: translate(-100%, -100%) !important;
  }
}

.start {
  &-3 {
    left: 3% !important;
  }
  &-4 {
    left: 4% !important;
  }
  &-98 {
    left: 98% !important;
  }
}

.top {
  &-3 {
    top: 3% !important;
  }
  &-4 {
    top: 4% !important;
  }
}

.table {
  tr {
    &.mat-header-row, &.mat-row, &.mat-footer-row {
      height: initial !important;
    }

    &.mat-header-row {
      th {
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
      }
    }

    th, td {
      &.mat-header-cell:first-of-type, &.mat-cell:first-of-type, &.mat-footer-cell:first-of-type {
        padding-left: 2px !important;
      }
      &.mat-header-cell:last-of-type, &.mat-cell:last-of-type, &.mat-footer-cell:last-of-type {
        padding-right: 2px !important;
      }
    }
  }
}


