<div class="card">
  <div class="card-header border-0 pt-4">
    <div class="card-title">

    </div>
    <div class="card-toolbar">
      <div class="d-flex justify-content-end">
        <a class="btn btn-sm btn-primary p-2">
          <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr058.svg'" class="svg-icon svg-icon-2"></span>
          {{ 'LABEL.GENERATE'|translate }}
        </a>
      </div>
    </div>
  </div>
  <div class="card-body pt-0">
    <div class="table-responsive table-loading">
      <div class="table-loading-message" *ngIf="loading$|ngrxPush">
        <app-progress-spinner></app-progress-spinner>
      </div>
      <table mat-table [dataSource]="expiryNotices$" [trackBy]="trackById"
        class="table align-middle table-row-bordered table-hover fs-6 gy-2 gx-1"
      >
        <ng-container matColumnDef="identifiant">
          <th mat-header-cell *matHeaderCellDef class="min-w-100px">{{ 'EXPIRY_NOTICE.FIELD.identifiant'|translate }}</th>
          <td mat-cell *matCellDef="let row">{{ row.identifiant }}</td>
        </ng-container>

        <ng-container matColumnDef="dateEmission">
          <th mat-header-cell *matHeaderCellDef>{{ 'EXPIRY_NOTICE.FIELD.dateEmission'|translate }}</th>
          <td mat-cell *matCellDef="let row">{{ row.dateEmission|date }}</td>
        </ng-container>

        <ng-container matColumnDef="contrat">
          <th mat-header-cell *matHeaderCellDef class="min-w-100px">{{ 'EXPIRY_NOTICE.RELATIONSHIP.contrat'|translate }}</th>
          <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.contrat as contract">
              <span class="badge badge-primary me-1" [ngbTooltip]="'EXPIRY_NOTICE.FIELD.numeroExterneBail'|translate">
                {{ contract.numeroExterneBail }}
              </span>
              <span [ngbTooltip]="'EXPIRY_NOTICE.FIELD.identifiant'|translate">
                {{ contract.identifiant }}
              </span>
            </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="housing">
          <th mat-header-cell *matHeaderCellDef class="min-w-100px">{{ 'HOUSING.LABEL.SINGLE'|translate }}</th>
          <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.contrat?.habitation as housing">
              <span [ngbTooltip]="housing.description + ' [' + housing.localisation + ']'">
                <span class="badge badge-info me-1">{{ housing.typeHabitation?.libelle }}</span>
                {{ housing.identifiant }}
              </span>
            </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="sommeDue">
          <th mat-header-cell *matHeaderCellDef class="min-w-100px">{{ 'EXPIRY_NOTICE.FIELD.loyer'|translate }}</th>
          <td mat-cell *matCellDef="let row">{{ row.sommeDue|currency }}</td>
        </ng-container>

        <ng-container matColumnDef="loyerRestant">
          <th mat-header-cell *matHeaderCellDef class="min-w-100px">{{ 'EXPIRY_NOTICE.FIELD.sommeDue'|translate }}</th>
          <td mat-cell *matCellDef="let row">{{ row.loyerRestant|currency }}</td>
        </ng-container>

        <ng-container matColumnDef="statut">
          <th mat-header-cell *matHeaderCellDef class="min-w-100px">{{ 'EXPIRY_NOTICE.RELATIONSHIP.statut'|translate }}</th>
          <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.statut as status">
              <span [outerHTML]="status|status"></span>
            </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="min-w-100px text-end">{{ 'LABEL.ACTIONS'|translate }}</th>
          <td mat-cell *matCellDef="let row" class="text-end">
            <div class="d-flex flex-nowrap justify-content-end">
              <a
                class="btn btn-icon btn-light-primary btn-sm me-1"
                ngbTooltip="{{ 'LABEL.DETAILS'|translate }}"
                (click)="showDetails(row.id)"
              >
                <span
                  [inlineSVG]="'./assets/media/icons/duotune/general/eye-fill.svg'"
                  class="svg-icon svg-icon-2"
                ></span>
              </a>
              <a
                class="btn btn-icon btn-light-success btn-sm me-1"
                ngbTooltip="{{ 'EXPIRY_NOTICE.LABEL.MAKE_PAYMENT'|translate }}"
                (click)="makePayment(row.id)"
              >
                <span
                  [inlineSVG]="'./assets/media/icons/duotune/finance/cash-stack.svg'"
                  class="svg-icon svg-icon-2"
                ></span>
              </a>
              <a
                class="btn btn-icon btn-light-info btn-sm me-1"
                ngbTooltip="{{ 'EXPIRY_NOTICE.LABEL.PRINT_RECEIPT'|translate }}"
              >
                <span
                  [inlineSVG]="'./assets/media/icons/duotune/electronics/printer-fill.svg'"
                  class="svg-icon svg-icon-2"
                ></span>
              </a>
            </div>
          </td>
        </ng-container>

        <tr
          mat-header-row *matHeaderRowDef="displayedColumns"
          class="text-start bg-light text-gray-600 fw-bold fs-7 text-uppercase"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <mat-paginator
      (page)="onPaginatorChange($event)"
      [pageSize]="pageSize" [pageSizeOptions]="pageSizes"
      [length]="(totalRecords$|ngrxPush)||0"
      [showFirstLastButtons]="true" [attr.aria-label]="'PAGINATOR.LABEL.ARIA'|translate"
    ></mat-paginator>
  </div>
</div>
