<div class="card">
  <div class="card-header border-0 pt-4">
    <div class="card-title">
      <div class="d-flex align-items-center position-relative my-1">
        <span
          [inlineSVG]="'./assets/media/icons/duotune/general/gen021.svg'"
          class="svg-icon svg-icon-1 position-absolute ms-6"
        ></span>
        <input type="text" data-kt-customer-table-filter="search" class="form-control form-control-solid w-250px ps-15" [placeholder]="'LABEL.SEARCH'|translate" />
      </div>
    </div>
    <div class="card-toolbar">
      <div class="d-flex justify-content-end" data-kt-customer-table-toolbar="base">
        <a class="btn btn-sm btn-primary" routerLink="/contracts/create">
          <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr013.svg'" class="svg-icon svg-icon-2"></span>
          {{ 'LABEL.NEW'|translate }}
        </a>
      </div>
    </div>
  </div>
  <div class="card-body pt-0">
    <div class="table-responsive table-loading">
      <div class="table-loading-message" *ngIf="loading$|ngrxPush">
        <app-progress-spinner></app-progress-spinner>
      </div>
      <table mat-table [dataSource]="contracts$" [trackBy]="trackById"
        class="table align-middle table-row-bordered table-hover fs-6 gy-2 gx-1"
      >
        <ng-container matColumnDef="identifiant">
          <th mat-header-cell *matHeaderCellDef class="min-w-100px">{{ 'CONTRACT.FIELD.identifiant'|translate }}</th>
          <td mat-cell *matCellDef="let row">{{ row.identifiant }}</td>
        </ng-container>

        <ng-container matColumnDef="numeroExterneBail">
          <th mat-header-cell *matHeaderCellDef>{{ 'CONTRACT.FIELD.numeroExterneBail'|translate }}</th>
          <td mat-cell *matCellDef="let row">
            <span class="badge badge-light-primary">{{ row.numeroExterneBail }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="solde">
          <th mat-header-cell *matHeaderCellDef class="min-w-100px">{{ 'CONTRACT.FIELD.solde'|translate }}</th>
          <td mat-cell *matCellDef="let row">{{ row.solde|currency }}</td>
        </ng-container>

        <ng-container matColumnDef="dateDebutContrat">
          <th mat-header-cell *matHeaderCellDef class="min-w-100px">{{ 'CONTRACT.FIELD.dateDebutContrat'|translate }}</th>
          <td mat-cell *matCellDef="let row">{{ row.dateDebutContrat|date }}</td>
        </ng-container>

        <ng-container matColumnDef="dateFinContrat">
          <th mat-header-cell *matHeaderCellDef class="min-w-100px">{{ 'CONTRACT.FIELD.dateFinContrat'|translate }}</th>
          <td mat-cell *matCellDef="let row">{{ row.dateFinContrat|date }}</td>
        </ng-container>

        <ng-container matColumnDef="personne">
          <th mat-header-cell *matHeaderCellDef class="min-w-100px">{{ 'CONTRACT.RELATIONSHIP.personne'|translate }}</th>
          <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.personne as person">
              <span *ngIf="person.identifiant" class="badge badge-secondary me-1" [ngbTooltip]="'PERSON.FIELD.identifiant'|translate">
                {{ person.identifiant }}
              </span>
              <span [ngbTooltip]="'PERSON.FIELD.nomComplet'|translate">
                {{ person.nomComplet || (person.nom + ' ' + person.prenoms) }}
              </span>
            </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="habitation">
          <th mat-header-cell *matHeaderCellDef class="min-w-100px">{{ 'CONTRACT.RELATIONSHIP.habitation'|translate }}</th>
          <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.habitation as housing">
              <span [ngbTooltip]="housing.description + ' [' + housing.localisation + ']'">
                <span class="badge badge-info">{{ housing.typeHabitation?.libelle }}</span>
                {{ housing.identifiant }}
              </span>
            </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="min-w-80px text-end">{{ 'LABEL.ACTIONS'|translate }}</th>
          <td mat-cell *matCellDef="let row" class="text-end">
            <div class="d-flex flex-nowrap justify-content-end">
              <a
                class="btn btn-icon btn-light-primary btn-sm me-1"
                ngbTooltip="{{ 'LABEL.DETAILS'|translate }}"
                (click)="showDetails(row.id)"
              >
                <span
                  [inlineSVG]="'./assets/media/icons/duotune/general/eye-fill.svg'"
                  class="svg-icon svg-icon-2"
                ></span>
              </a>
              <!-- <a
                class="btn btn-icon btn-light-success btn-sm me-1"
                routerLink="/contracts/{{ row.id }}/edit"
                ngbTooltip="{{ 'LABEL.EDIT'|translate }}"
              >
                <span
                  [inlineSVG]="'./assets/media/icons/duotune/general/gen055.svg'"
                  class="svg-icon svg-icon-2"
                ></span>
              </a> -->
            </div>
          </td>
        </ng-container>

        <tr
          mat-header-row *matHeaderRowDef="displayedColumns"
          class="text-start bg-light text-gray-600 fw-bold fs-7 text-uppercase"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <mat-paginator
      (page)="onPaginatorChange($event)"
      [pageSize]="pageSize" [pageSizeOptions]="pageSizes"
      [length]="(totalRecords$|ngrxPush)||0"
      [showFirstLastButtons]="true" [attr.aria-label]="'PAGINATOR.LABEL.ARIA'|translate"
    ></mat-paginator>
  </div>
</div>
