
<!--begin::Row-->
<div class="row g-3 g-xl-6 mb-5">
  <ng-container *ngrxLet="tenantsCount$ as tenantsCount">
    <div class="col-lg-3 col-md-4">
      <app-stats-widget5
        class="card hoverable bg-primary"
        [svgIcon]="'./assets/media/icons/duotune/communication/com013.svg'"
        [title]="((tenantsCount || 0)|number)+''"
        [description]="'TENANT.LABEL.PLURAL'|translate"
        iconColor="white"
        color="primary"
      ></app-stats-widget5>
    </div>
  </ng-container>

  <div class="col-md-4 col-lg-3" *ngrxLet="housingsCount$ as housingsCount">
    <app-stats-widget5
      class="card hoverable bg-dark"
      [svgIcon]="'./assets/media/icons/duotune/maps/map008.svg'"
      [title]="((housingsCount || 0)|number)+''"
      [description]="'HOUSING.LABEL.PLURAL'|translate"
      iconColor="white"
      color="dark"
    ></app-stats-widget5>
  </div>

  <div class="col-md-4 col-lg-3" *ngrxLet="contractsCount$ as contractsCount">
    <app-stats-widget5
      class="card hoverable bg-success"
      [svgIcon]="'./assets/media/icons/duotune/ecommerce/ecm008.svg'"
      [title]="((contractsCount || 0)|number)+''"
      [description]="'CONTRACT.LABEL.PLURAL'|translate"
      iconColor="white"
      color="success"
    ></app-stats-widget5>
  </div>

  <div class="col-md-4 col-lg-3" *ngrxLet="expiryNoticesCount$ as expiryNoticesCount">
    <app-stats-widget5
      class="card hoverable bg-info"
      [svgIcon]="'./assets/media/icons/duotune/finance/fin007.svg'"
      [title]="((expiryNoticesCount || 0)|number)+''"
      [description]="'EXPIRY_NOTICE.LABEL.PLURAL'|translate"
      iconColor="white"
      color="info"
    ></app-stats-widget5>
  </div>
</div>
