<app-offfcanvas>
  <ng-container title>Encaissement Loyer</ng-container>

  <form class="form" [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
    <div class="form-group mb-3">
      <label for="montant" class="form-label">Montant encaissé</label>
      <input
        id="montant" type="number" class="form-control" formControlName="montant"
        [max]="''+expiryNotice?.loyerRestant" min="0" appFormPathFallback />
      <app-display-form-path-error [pathControl]="paymentForm.get('montant')"></app-display-form-path-error>
    </div>
    <div class="form-group mb-3">
      <label for="observation" class="form-label">Observation</label>
      <textarea id="observation" rows="3" class="form-control" formControlName="observation"></textarea>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-sm btn-secondary me-md-2" type="button" [disabled]="creating" (click)="onClose()">
        Annuler
      </button>
      <button [disabled]="!paymentForm.valid || creating" type="submit" class="btn btn-sm btn-primary">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="creating"></span>

        Encaisser
      </button>
    </div>
  </form>
</app-offfcanvas>
